
<div class="filter-container">
  <%= form_tag pages_dashboard_path, method: :get, class: 'form-custom-inline' do %>
    <select class="filter-box" name="business_category">
      <option value="">Business Category</option>
      <% Company::BUSINESS_CATEGORY.each do |info| %>
        <option value="<%= info %>"><%= info %></option>
      <% end %>
    </select>

    <select class="filter-box" name="loan_type">
      <option value="">Loan Type</option>
      <% Company::LOAN_TYPE.each do |info| %>
        <option value="<%= info %>"><%= info %></option>
      <% end %>
    </select>

    <select class="filter-box" name="risk_score">
      <option value="">Risk Score</option>
      <% Company::RISK_SCORE.each do |info| %>
        <option value="<%= info %>"><%= info %></option>
      <% end %>
    </select>

    <%= submit_tag value="Search", class: "filter-button-search", id: "filter" %>
  <% end %>
</div>

<% companies.each do |company| %>
  <div class="cards-container">
    <div class="card-info-top">
      <div class="card-info-title">
        <h4><%= company.business_category %></h4>
        <%= image_tag 'blue_right_arrow.png', width: 28, height: 30, class: "blue-arrow" %>
        <h4><%= company.loan_type %> loan</h4>
      </div>
      <div class="days_remaining">
        <% if ((company.created_at.to_date + 30 - Date.today).to_i) == 0 %>
          <h7>The campaign has finished!</h7>
        <% else %>
          <h7><%= company.days_remaining %> days left</h7>
          <!-- <h7><%#= ((company.created_at.to_date + 30 - Date.today).to_i) %> days left</h7> -->
          <!-- Create migration to remove days_remaining from Companies tables -->
          <!-- In the seed, remove days_remaining -->
        <% end %>
      </div>
    </div>

    <div class="main-info">
      <div class="card-info-tags">
        <% if company.risk_score == "High Risk" %>
          <span class="tag" id="red"><%= company.risk_score %></span>
        <% elsif company.risk_score == "Medium Risk" %>
          <span class="tag" id="orange"><%= company.risk_score %></span>
        <% else %>
          <span class="tag" id="green"><%= company.risk_score %></span>
        <% end %>
        <span class="tag"><%= company.loan_rate %>% return</span>
        <span class="tag">£<%= number_with_delimiter(company.required_funds, delimiter: ',') %> target</span>
        <span class="tag"><%= company.investments.map(&:user_id).count %> investors</span>
        <div class="progress">
          <% total_funded = company.investments.map(&:credit_amount).sum %>
          <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:<%= total_funded.fdiv(company.required_funds) * 100 %>%">
           <span><%= (total_funded.fdiv(company.required_funds) * 100).round(0) %>%</span>
          </div>
        </div>
      </div>

        <%= link_to "More info", company_path(company), target: :blank, class: "filter-button-search" %>

    </div>
  </div>
<% end %>
