<div class="navbar-beesharia">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-beeshariah-logo" do %>
    <%= image_tag "logo.png", height: 40 %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-beesharia-right hidden-xs hidden-sm">

    <% if user_signed_in? %>
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <p id="navbar-wagon-menu" data-toggle="dropdown"><%= current_user.email %><i class="fas fa-caret-down"></i></p>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <% if !current_user.borrower %>
                <%= link_to pages_dashboard_path do %>
                  <%= t(".profile", default: "Dashboard") %>
                <% end %>
              <% else %>
                <%= link_to company_path(current_user.companies.first) do %>
                  <%= t(".profile", default: "Dashboard") %>
                <% end %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>

      <!-- Login link (when logged out) -->
      <%= link_to "Get started", "#", data: {toggle: "modal", target: "#mySignUpModal"}, class: "navbar-beesharia-item navbar-beesharia-link" %>
      <%= link_to "Sign in", "#", data: {toggle: "modal", target: "#myLoginModal"}, class: "navbar-beesharia-item btn-sign-in"%>
    <% end %>
  </div>



  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-beesharia-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Profile</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </div>
  </div>
</div>

<%= render "devise/registrations/new" %>
<%= render "devise/sessions/new" %>

