<div class="white-background">
  <div class="home-headers">
    <div class="banner-left">
      <h1>The UK's sharia-compliant lending marketplace</h1>
      <div class="banner-text">
        <h3><span id="banner-typed-text"></span></h3>
      </div>
      <div class="home-cta">
        <%= link_to "#", class: "btn-get-started-home", data: {toggle: "modal", target: "#mySignUpModal"} do %>
          Get started
          <%= image_tag 'right_arrow_white.png', class: "arrow", width: 28, height: 59 %>
        <% end %>
      </div>
    </div>
    <div class="banner-right">
      <%= image_tag 'iphone-homepage.png', class: "phone", height: 550 %>
    </div>
  </div>
  </div>
    <div class="background-home" style="background-image: url('<%= image_path 'homepage.png' %>')">
  </div>
</div>

<div class="second-container">
  <div class="times-image">
    <%= image_tag 'thetimes.svg', class: "thetimes", height: 20 %>
  </div>
  <div class="standard-image">
    <%= image_tag 'standard.svg', class: "standard", height: 20  %>
  </div>
  <div class="telegraph-image">
    <%= image_tag 'thetelegraph.svg', class: "telegraph", height: 20 %>
  </div>
  <div class="bbc-image">
    <%= image_tag 'bbc.svg', class: "bbc", height: 20 %>
  </div>
</div>

<div class="third-container">
  <div class="heading">
    <h2>How It Works</h2>
  </div>
  <div class="flex-fourimages">
    <div class="first-image">
      <%= image_tag 'laptop.svg', class: "laptop", height: 120 %>
      <p><strong>SME business</strong> applies for  <br> Sharia compliant funding <br> on the Beesharia platform.</p>
    </div>
    <div class="second-image">
      <%= image_tag 'clipboard-check.svg', class: "clipboard", height: 120  %>
      <p> Business activities and  <br> use of funds are checked  to <br> ensure <strong> Shariah compliance</strong>.</p>
    </div>
    <div class="third-image">
      <%= image_tag 'crowd.svg', class: "people", height: 120 %>
      <p><strong>Investors</strong> place bids </br> to fund  the SME <br> investment request.</p>
    </div>
    <div class="fourth-image">
      <%= image_tag 'handshake.svg', class: "handshake", height: 120 %>
      <p><strong>SME business</strong> accepts <br> offer  and  investor receives <br> returns on investments.</p>
    </div>
  </div>
</div>

<div class="footer-container">
  <div class="footer-homepage">
    <h3>Peer to peer investing on BeeShariah is regulated by the FCA</h3>
    <p>Peer to peer (P2P) lending is a form of crowdfunding and refers to investors providing finance to businesses without the use of a conventional intermediary, such as a bank. P2P lending uses the internet as a platform to reach a crowd of hundreds of potential investors.

    Small and medium sized enterprises (SMEs) represent a large percentage of many developed economies but they can often find challenges in securing finance from conventional sources, such as banks.
    </p>
  <h5>copyright<i class="far fa-copyright"></i>2018, BeeSharia</h5>
  </div>
</div>



