<div class="white-background">
  <div class="home-headers">
    <div class="banner-left">
      <h1>The UK's sharia-compliant lending marketplace</h1>
      <div class="banner-text">
        <h3><span id="banner-typed-text"></span></h3>
      </div>
        <div class="btn-get-started-home">
          <%= link_to "Get started", "#", data: {toggle: "modal", target: "#mySignUpModal"}%>
          <%= image_tag 'right_arrow_white.png', class: "arrow", width: 28, height: 59 %>
        </div>
      </div>
        <div class="banner-right">
        <%= image_tag 'iphone2.png', class: "phone", height: 550 %>
        </div>
      </div>
    </div>
  </div>
    <div class="background-home" style="background-image: url('<%= image_path 'homepage.png' %>')">
  </div>
</div>

<div class="second-container">
  <div class="times-image">
    <%= image_tag 'thetimes.svg', class: "thetimes", height: 20 %>
  </div>
  <div class="standard-image">
    <%= image_tag 'standard.svg', class: "standard", height: 20  %>
  </div>
  <div class="telegraph-image">
    <%= image_tag 'thetelegraph.svg', class: "telegraph", height: 20 %>
  </div>
  <div class="bbc-image">
    <%= image_tag 'bbc.svg', class: "bbc", height: 20 %>
  </div>
</div>

<hr>

<div class="third-container">
  <div class="heading">
    <h1>How It Works</h1>
  </div>
  <div class="flex-threeimages">
    <div class="first-image">
      <%= image_tag 'pound.svg', class: "pound", height: 120 %>
      <p><strong>Borrow</strong> to help grow your business. </br>Set your funding target and receive</br>the best rates in the market.</p>
    </div>
    <div class="second-image">
      <%= image_tag 'businessman.svg', class: "businessman", height: 120  %>
      <p><strong>Fully</strong> Shariah Compliant Financing. </br>Giving you enhanced peace of mind.</p>
    </div>
    <div class="third-image">
      <%= image_tag 'crowd.svg', class: "people", height: 120 %>
      <p><strong>Invest</strong> in a diversified basket of</br>High Yield Small Business Loans</br>For a superior IRR.</p>
    </div>
  </div>
</div>

<div class="fourth-container">
<%= image_tag 'banner2.png', class: "banner-fourth", width: 2000 %>
  <div class="header-fourth-container">
    <h1>Apply for A Loan Today</h1>
  </div>
</div>

<div class="footer-homepage">
  <h3>Peer to peer investing on BeeShariah is regulated by the FCA</h3>
  <p>Peer to peer (P2P) lending is a form of crowdfunding and refers to investors providing finance to businesses without the use of a conventional intermediary, such as a bank. P2P lending uses the internet as a platform to reach a crowd of hundreds of potential investors.

  Small and medium sized enterprises (SMEs) represent a large percentage of many developed economies but they can often find challenges in securing finance from conventional sources, such as banks.

  New technology in finance has created the fintech (financial technology) industry. Fintech businesses are online businesses that provide services in a faster, cost effective and more streamlined manner. Innovative alternative finance, such as peer to peer lending, aims to help plug the SME finance gap.

  It is already a proven and highly successful concept in the US and UK, where it has created exciting new opportunities for investors, faster access to finance for SMEs and a healthy contribution to economic development. Global P2P lending is forecast to deliver $300 billion by 2020.

  Our process
  On Beehive, our online platform directly connects creditworthy businesses looking for funding with investors looking to support their growth. Applying the innovative technology of peer to peer lending dramatically reduces the cost, complexity and long timelines often associated with conventional finance. These savings are then passed on to the investors who get better returns and the businesses who get faster access to lower cost finance.</p>
<h5>copyright@BeeSharia2018</h5>
</div>



