<%= simple_form_for(@company) do |f| %>
  <%= f.input :company_number %>
  <%= f.input :company_name %>
  <%= f.input :office_address %>
  <%= f.input :director_names %>
  <%= f.input :business_category, collection: ["Manufacturing", "Construction", "Agriculture", "Financial and Business Services", "Education and Health Work", "Hotels and Restaurants", "Real Estate and Renting", "Tourism", "Transport, Storage, and Communication", "Wholesale and Retail Trade"]%>
  <%= f.input :years_credit_history %>
  <%= f.input :last_year_ebit %>
  <%= f.input :last_year_interest %>
  <%= f.input :last_year_debt %>
  <%= f.input :last_year_assets %>
  <%= f.input :loan_type, collection: ["Working Capital", "Asset Finance/Refinance", "Expansion Capital"] %>
  <%= f.input :borrowing_length, collection: [1, 2, 3, 4, 5] %>
  <%= f.input :use_of_funds_description %>
  <%= f.input :required_funds %>
  <div class="doc-input">
    <%= f.input :doc_accounts, label: "Financial Accounts" %>
    <%= f.input :doc_accounts_cache, as: :hidden %>
    <%= f.input :doc_bank_statements , label: "Bank Statements" %>
    <%= f.input :doc_bank_statements_cache, as: :hidden %>
  </div>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
