<div class="wrapper_company_show">
  <div class="container_company_show">

    <div class="company-border"><h1><%= @company.company_name %></h1></div>
    <div class="company-border"><h1><%= @company.company_number %></h1></div>
    <div class="company_details">
      <div class="showbox">
        <!-- general info  -->
        <div class="sub-info">
          <p class="subheading"> <strong> General information </strong></p>
          <p><strong> Address: </strong> <%= @company.office_address %></p>
          <p><strong> Directors' Names:</strong> <%= @company.director_names %></p>
          <p> <strong> Business Category:</strong> <%= @company.business_category %></p>
          <p> <strong> Years credit history:</strong> <%= @company.years_credit_history %></p>
        </div>
        <!-- Borrowing requirements  -->
        <div class="sub-info">
          <p class="subheading"> <strong> Borrowing requirements </strong></p>
          <p><strong> Required funds:  </strong> £<%= @company.required_funds %> million</p>
          <p><strong> Length:</strong> <%= @company.borrowing_length %> years</p>
          <p><strong> Borrowing type:</strong> <%= @company.loan_type %></p>
          <p><strong> Expected returns:</strong> <%= @company.loan_rate %></p>
          <p><strong> Risk score:</strong> <%= @company.risk_score %></p>
        </div>
        <!-- financials  -->
        <div class="sub-info">
          <p class="subheading"> <strong> Key financials </strong></p>
          <p><strong> Last year EBIT: </strong> £<%= @company.last_year_ebit %> million</p>
          <p><strong>Last year interest:  </strong> £<%= @company.last_year_interest %> million </p>
          <p><strong>Last year debt:  </strong> £<%= @company.last_year_debt %> million </p>
          <p><strong>Last year assets:  </strong> £ <%= @company.last_year_assets %> million</p>
        </div>
        <%# if @company.doc_accounts != nil%>
          <!-- <iframe src="http://docs.google.com/gview?url=<%#= cl_image_path @company.doc_accounts %>&embedded=true", width="300px", height="400px"></iframe> -->
        <%# end %>

      </div>
      <% if current_user.borrower  %>
        <div class="buttons_company_show">
          <%= link_to "Edit", edit_company_path, class: "btn btn-primary custom-button" %>
        </div>
        <% else  %>
        <!-- TO REROUTE TO INVESTMENT NEW PAGE  -->
          <%= link_to "Pledge", investment_path, class: "btn btn-primary custom-button" %>
      <% end %>
    </div>
  </div>
</div>

<element onmouseover="myScript">

